

h1{
    text-align: center;
    background-color: black;
    color: brown;
}
img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-image-slice: fill;
}
.TableCollapse{
    border: 1px solid black;
    border-collapse: collapse;
}